
body {
    color: #aeaeae;
    background-color: #fff;
    //font: 400 14px/1.6em 'Nunito Sans', sans-serif;
}
::selection {
    background: rgba(0,0,0,.16)
}
::-moz-selection {
    background: rgba(0,0,0,.16)
}
a {
    color: inherit;
    -webkit-transition: all .2s;
    transition: all .2s;
}
a:hover {
    cursor: pointer;
    color: initial;
}
section {
    background-position: center center;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
a:focus {
    color: inherit;
}
.container.container-fullwidth {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}
@-webkit-keyframes slideDown {
  0%   { transform: translateY(-70px) }
  100% { transform: translateY(0px) }
}
@keyframes slideDown {
  0%   { transform: translateY(-70px) }
  100% { transform: translateY(0px) }
}
button:focus {
    outline: none;
}
/*-- Columns Five --*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 10px;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
hr.separator {
    width: 100%;
    border-top: none;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}
hr.separator.separator-white {
    border-bottom: 1px solid rgba(255, 255, 255, .09);
}
.height100 {
    height: 100%;
}
.width100 {
    width: 100%;
}
.container.fluid-container {
    width: 100%;
    margin: 0;
    // padding: 0 8%;
}
.container.fluid-container > .row {
    margin: 0;
}

/*---------- NAVIGATION BAR ----------*/
nav.navbar {
    border: none;
    border-radius: 0px;
    z-index: 9999999;
}
@media (min-width: 1351px) {
    nav.navbar {
        z-index: 9999;
        margin-bottom: 0px;
        border: none;
        height: 80px;
        width: 100%;
    }
    nav.nav-collapsed {
        animation: slideDown .5s;
    }
}
.logo-img img {
    max-width: 120px;
    max-height: 50px;
}
nav.navbar ul.ul-h.nav-menu {
    margin: 0;
    display: inline-block;
}
nav.navbar ul.ul-h.nav-menu > li {
    padding: 0 14px;
}
nav.navbar .container.fluid-container {
    position: relative;
}
nav.navbar .container.fluid-container,
nav.navbar .container.fluid-container .row,
nav.navbar .container.fluid-container .row > div,
nav.navbar .container.fluid-container ul.ul-h.nav-menu {
    height: 100%;
}
nav.navbar .container.fluid-container ul.ul-h.nav-menu {
    display: table;
}
nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-left {
    float: left;
    padding-left: 0px;
}
nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right {
    float: right;
}
nav.navbar .container.fluid-container ul.ul-h.nav-menu > li {
    display: table-cell;
    vertical-align: middle;
}
nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-social.nav-social-right {
    float: right;
}
nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-social.nav-social-left {
    float: left;
}
nav.navbar .container.fluid-container .hero-logo {
    position: absolute;
    z-index: -1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
}
nav.navbar .container.fluid-container .hero-logo-left {
    position: absolute;
    z-index: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
}
nav.navbar .container.fluid-container .hero-logo-right {
    position: absolute;
    z-index: -1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
}
nav.navbar.transparent-white {
    background-color: #F5F5F5;
    position: absolute;
    border-top:1px solid #d1d1d1;
    bottom: 0;
}
nav.navbar.transparent-white.navbar-fixed {
    position: fixed;
}
nav.navbar.transparent-white.navbar-static {
    position: static;
}
nav.navbar.transparent-white ul.ul-h.nav-menu > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #95A5A6;
    -webkit-transition: color .2s;
    transition: color .2s;
}
nav.navbar.transparent-white ul.ul-h.nav-menu.nav-social li a i {
    font-size: 11px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}
nav.navbar.transparent-white ul.ul-h.nav-menu > li > a:hover {
    color: #c1c1c1;
    font-weight: bold;
}
nav.navbar.transparent-white .logo-black {
    display: none;
}

.gitter-logo{
  float: left;
}
.gitter-text{
  padding-left: 18px;
  padding-top: 5px;
  float: left;
  display: block;
  color: #868686;
}
.nav-menu-center{
  margin:0px auto !important;
  border-radius: 200px;
  padding-left: 15px;
  padding-right: 15px;
  height: 60% !important;
  margin-top: 15px !important;
}
.nav-menu-center li a{
  font-weight: 700 !important;
  color: #252525 !important;
  font-size: 15px;
}
.nav-menu-center li{
  padding: 0 22px !important;
}
span.gitter{
  display: block;
}
@media (min-width: 1200px) and (max-width: 1280px){
  .container {
      width: 1280px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right{
    padding-top: 30px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-left{
    padding-top: 20px;
  }
  .nav-menu-center{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .navbar{
    min-height: 85px;
    margin-bottom: 0 !important;
  }
  nav.navbar ul.ul-h.nav-menu>li{
    padding: 0 15px !important;
  }
}
@media (min-width: 1000px) and (max-width: 1024px){
  .container {
      width: 1024px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right{
    padding-top: 30px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-left{
    padding-top: 20px;
  }
  .nav-menu-center{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .navbar{
    min-height: 85px;
    margin-bottom: 0 !important;
  }
  nav.navbar ul.ul-h.nav-menu>li{
    padding: 0 8px !important;
  }
}
@media (min-width: 760px) and (max-width: 768px){
  .container {
      width: 768px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right{
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    text-align: center;
    display: table;
    margin:0px auto;
    float: none !important;
    padding-left: 0;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right>li{
    display: block !important;
    margin-top: 10px;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-left{
    padding-top: 30px;
    text-align: center;
    display: table;
    margin:0px auto;
    float: none !important;
  }
  .nav-menu-center{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-top: 25px !important;
  }
  .navbar{
    min-height: 85px;
    margin-bottom: 0 !important;
  }
  .hero-fullscreen{
    height: 75vh !important;
  }
  nav.navbar ul.ul-h.nav-menu>li{
    padding: 0 22px !important;
  }
}
@media (max-width: 640px){
  .container {
      width: 640px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right{
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    text-align: center;
    display: table;
    margin:0px auto;
    float: none !important;
    padding-left: 0;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right>li{
    display: block !important;
    margin-top: 10px;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-left{
    padding-top: 30px;
    text-align: center;
    display: table;
    margin:0px auto;
    float: none !important;
  }
  .hero-fullscreen{
    height: 65vh !important;
  }
  .nav-menu-center{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-top: 25px !important;
  }
  .navbar{
    min-height: 85px;
    margin-bottom: 0 !important;
  }
  nav.navbar ul.ul-h.nav-menu>li{
    padding: 0 22px !important;
  }
}
@media (max-width: 480px){
  .container {
      width: 480px !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right{
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    text-align: center;
    display: table;
    margin:0px auto;
    float: none !important;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-right>li{
    display: block !important;
    margin-top: 10px;
  }
  nav.navbar .container.fluid-container ul.ul-h.nav-menu.nav-menu-left{
    padding-top: 30px;
    text-align: center;
    display: table;
    margin:0px auto;
    float: none !important;
  }
  .hero-fullscreen{
    height: 56vh !important;
  }
  nav.navbar ul.ul-h.nav-menu>li{
    padding: 0 15px !important;
  }
}


/*---------- MAIN CONTENT ----------*/
.hero-fullscreen {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
@media all and (max-width: 992px) {
    // .hero-fullscreen {
    //     height: auto;
    // }
    .hero-fullscreen .container {
        padding-top: 0;
        top: 0;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }
}

/*-- Hero Fullwidth --*/
.hero-fullwidth {
    height: 70vh;
    position: relative;
}
.hero-fullwidth.parallax > .background-image,
.hero-50.parallax > .background-image {
    height: 100%;
    top: 0;
}
@media all and (max-width: 992px) {
    .hero-fullwidth, .hero-50 {
        height: auto;
    }
    .hero-fullscreen .container {
        padding-top: 0;
        top: 0;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }
}
@media all and (max-width: 1680px) {
    .width-size{
      width: 100%;
    }
}
@media all and (min-width: 2560px) {
    .width-size{
      width: 70% !important;
    }
}
.background-image{
  position: absolute;
  background-position: 50% 50% !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
}
.background-image img {
    display: none
}
#hero .hero-content {
    padding-top: 50px;
}
.hero-content .container {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
}
.m-auto {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: -75px;
}
.hero-content {
    position: relative;
    z-index: 1;
    display: table;
    height: 100%;
    width: 100%;
}
.hero-content p{
	font-family: Ubuntu;
	font-size: 18px;
  font-weight: 300;
	line-height: 1.8;
	letter-spacing: 0.2px;
	color: #252525;
}
.links{
  margin-top: 20px;
}
.links ul.link-menu{
  display: table;
  margin:0;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 4px;
  padding: 12px;
}
.links ul.link-menu li{
  display: table-cell;
  float: left;
  vertical-align: middle;
  padding: 0 22px;
  color: #252525;
}
.links ul.link-menu li a{
  font-weight: bold;
}


/*---------- TYPOGRAPHY ----------*/
h1, h2, h3, h4, h5, h6 {margin: 0;}

/*---------- SPACING SHORTCODES ----------*/

/*-- Padding --*/
.p0{padding: 0px}
.p5{padding: 5px}
.p10{padding: 10px}
.p15{padding: 15px}
.p20{padding: 20px}
.p30{padding: 30px}
.p40{padding: 40px}
.p50{padding: 50px}
.p60{padding: 60px}
.p70{padding: 70px}
.p80{padding: 80px}
.p90{padding: 90px}
.p100{padding: 100px}
.p110{padding: 110px}
.p120{padding: 120px}
.p130{padding: 130px}
.p140{padding: 140px}
.p150{padding: 150px}

/*-- Padding Top --*/
.pt0{padding:0px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}
.pt60{padding-top:60px}
.pt70{padding-top:70px}
.pt80{padding-top:80px}
.pt90{padding-top:90px}
.pt100{padding-top:100px}
.pt110{padding-top:110px}
.pt120{padding-top:120px}
.pt130{padding-top:130px}
.pt140{padding-top:140px}
.pt150{padding-top:150px}

/*-- Padding Bottom --*/
.pb0{padding-bottom:0px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb40{padding-bottom:40px}
.pb50{padding-bottom:50px}
.pb60{padding-bottom:60px}
.pb70{padding-bottom:70px}
.pb80{padding-bottom:80px}
.pb90{padding-bottom:90px}
.pb100{padding-bottom:100px}
.pb110{padding-bottom:110px}
.pb120{padding-bottom:120px}
.pb130{padding-bottom:130px}
.pb140{padding-bottom:140px}
.pb150{padding-bottom:150px}

/*-- Padding Left --*/
.pl0{padding-left:0px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
.pl60{padding-left:60px}
.pl70{padding-left:70px}
.pl80{padding-left:80px}
.pl90{padding-left:90px}
.pl100{padding-left:100px}
.pl110{padding-left:110px}
.pl120{padding-left:120px}
.pl130{padding-left:130px}
.pl140{padding-left:140px}
.pl150{padding-left:150px}
/*- Padding Left % -*/
.pl5p{padding-left: 5%}
.pl10p{padding-left: 10%}
.pl15p{padding-left: 15%}
.pl20p{padding-left: 20%}
.pl25p{padding-left: 25%}
.pl30p{padding-left: 30%}
.pl35p{padding-left: 35%}
.pl40p{padding-left: 40%}
.pl45p{padding-left: 45%}
.pl50p{padding-left: 50%}

/*-- Padding Right --*/
.pr0{padding-right:0px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr40{padding-right:40px}
.pr50{padding-right:50px}
.pr60{padding-right:60px}
.pr70{padding-right:70px}
.pr80{padding-right:80px}
.pr90{padding-right:90px}
.pr100{padding-right:100px}
.pr110{padding-right:110px}
.pr120{padding-right:120px}
.pr130{padding-right:130px}
.pr140{padding-right:140px}
.pr150{padding-right:150px}
/*- Padding Right % -*/
.pr5p{padding-right: 5%}
.pr10p{padding-right: 10%}
.pr15p{padding-right: 15%}
.pr20p{padding-right: 20%}
.pr25p{padding-right: 25%}
.pr30p{padding-right: 30%}
.pr35p{padding-right: 35%}
.pr40p{padding-right: 40%}
.pr45p{padding-right: 45%}
.pr50p{padding-right: 50%}

/*-- Negative Margins --*/
.mt-5{margin-top: -5px}
.mt-10{margin-top: -10px}
.mt-15{margin-top: -15px}
.mb-5{margin-bottom: -5px}
.mb-10{margin-bottom: -10px}
.mb-15{margin-bottom: -15px}
.ml-5{margin-left: -5px}
.ml-10{margin-left: -10px}
.ml-15{margin-left: -15px}
.mr-5{margin-right: -5px}
.mr-10{margin-right: -10px}
.mr-15{margin-right: -15px}

/*-- Margin Auto --*/
.m-auto {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/*-- Margin --*/
.m0{margin: 0px}
.m5{margin: 5px}
.m10{margin: 10px}
.m15{margin: 15px}
.m20{margin: 20px}
.m30{margin: 30px}
.m40{margin: 40px}
.m50{margin: 50px}
.m60{margin: 60px}
.m70{margin: 70px}
.m80{margin: 80px}
.m90{margin: 90px}
.m100{margin: 100px}
.m110{margin: 110px}
.m120{margin: 120px}
.m130{margin: 130px}
.m140{margin: 140px}
.m150{margin: 150px}

/*-- Margin Top --*/
.mt0{margin-top:0}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt60{margin-top:60px}
.mt70{margin-top:70px}
.mt80{margin-top:80px}
.mt90{margin-top:90px}
.mt100{margin-top:100px}
.mt110{margin-top:110px}
.mt120{margin-top:120px}
.mt130{margin-top:130px}
.mt140{margin-top:140px}
.mt150{margin-top:150px}

/*-- Margin Bottom --*/
.mb0{margin-bottom:0}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}
.mb60{margin-bottom:60px}
.mb70{margin-bottom:70px}
.mb80{margin-bottom:80px}
.mb90{margin-bottom:90px}
.mb100{margin-bottom:100px}
.mb110{margin-bottom:110px}
.mb120{margin-bottom:120px}
.mb130{margin-bottom:130px}
.mb140{margin-bottom:140px}
.mb150{margin-bottom:150px}

/*-- Margin Left --*/
.ml0{margin-left:0}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.ml60{margin-left:60px}
.ml70{margin-left:70px}
.ml80{margin-left:80px}
.ml90{margin-left:90px}
.ml100{margin-left:100px}
.ml110{margin-left:110px}
.ml120{margin-left:120px}
.ml130{margin-left:130px}
.ml140{margin-left:140px}
.ml150{margin-left:150px}

/*-- Margin Right --*/
.mr0{margin-right:0}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.mr50{margin-right:50px}
.mr60{margin-right:60px}
.mr70{margin-right:70px}
.mr80{margin-right:80px}
.mr90{margin-right:90px}
.mr100{margin-right:100px}
.mr110{margin-right:110px}
.mr120{margin-right:120px}
.mr130{margin-right:130px}
.mr140{margin-right:140px}
.mr150{margin-right:150px}


/*---------- COLORS ----------*/

/*-- Global Colors --*/
.white{color: #fff}
.black{color: #000}
.gray{color: #c1c1c1;}
.dark{color: rgba(0, 0, 0, .85)}
.lightgray{color: rgba(255, 255, 255, .95)}
/*-- Background Colors --*/
.bg-black {
    background-color: #0b0b0b;
}
.bg-dark {
    background-color: rgba(0, 0, 0, .96);
}
.bg-primary {
    background-color: #0b0b0b;
}
.bg-gray {
    background-color: #191919;
}
.bg-white {
    background-color: #fff;
}


/*---------- CENTERING SHORTCODES ----------*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row-reverse wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.flexAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.flexAlign.justify-none {
    -webkit-justify-content: initial;
    justify-content: initial;
}
.vertical-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
@media ( min-width: 992px ) {
    .vertical-align {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
.align-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;

}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
