
.cookie-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70px;
  text-align: left;
  line-height: 30px;
  background: #efe6cb;
  color: #252525;
  font-size: 16px;
  padding-top: 18px;
  padding-left: 20px;
  font-weight: 100;
  transition: .8s;
  animation: slideIn .8s;
  animation-delay: .8s;
  z-index: 999;
  .message {
    font-size: 18px;
    font-weight: 600;
  }
  .mobile {
    display: none;
    @media (max-width: 767px){
      display: inline-block;
    }
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
.close-cb {
  border: none;
  color: #fff;
  background: #9e905c;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
  padding-top: 18px;
  cursor: pointer;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  width: 180px;
  text-align: center;
}
.close-cb:hover{
  color: #fff;
  background: #7f713c;
}
.checkbox-cb {
  display: none;
  &:checked + .cookie-bar {
    transform: translateY(70px);
  }
}
.message a{
  color: #9e905c !important;
}
.message a:hover{
  font-weight: 300;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .cookie-bar {
    bottom:65px;
    text-align: center;
    height: 90px;
  }
  .close-cb {
    top:90px;
    width: 100%;
  }
  .checkbox-cb {
    display: none;
    &:checked + .cookie-bar {
      transform: translateY(180px);
    }
  }
}
